name: Tests
on:
  pull_request_target:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - run: echo ${{ github.event.sender.login }}
    - run: echo ${{ github.event.pull_request.user.login }}
